Ex 1 : Check the lenght of the string "My name is python"

In [4]:
print(len("My name is pyhton"))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [8]:
paragraph = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = paragraph.lower().count("python")
print(f'Python appears: {count} times')

Python appears: 2 times

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [10]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(ls1 + ls2))

8

Ex 4: Create a dictionary for the following table:

| Key | Value | 
| --- | --- | 
| Name | Age |
| Myo | 32 |
| Thida | 64 |

In [12]:
myDict = {'Name': ['Myo', 'Thida'], 'Age': [32, 64]}
print(myDict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [13]:
set1 = {"Name", "age", "Height"} 
set2 = {"Name", "status", "Education"}
newSet = set1.union(set2)
print(newSet, "\n The number of elements in new set is {}".format(len(newSet)))

{'Education', 'status', 'Height', 'Name', 'age'}
 The number of elements in new set is 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [16]:
user_string = input('Enter a string: ')
new_string = user_string.replace(user_string[1], '*')
new_string = new_string + '!!!'
print(new_string)

Enter a string:  pyae

p*ae!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [18]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower().replace(",","").replace(";","").replace(".","").replace("-","").replace(":","")
print(new_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [19]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

{86}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [20]:
ls1 = ["apple", "banana", "cherry"]
ls2 =  ls1.copy()
ls2.append("blueberry")
print('original:', ls1)
print('new list:', ls2)

original: ['apple', 'banana', 'cherry']
new list: ['apple', 'banana', 'cherry', 'blueberry']